.qualified-address-container {
  float: right;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 600px;
  margin-right: 1300px;
}

.qualified-address-value {
  font-weight: bold;
  margin-right: 5px;
}
